namespace Routes.Views;

{{#simpleDoc}}/** Route {{className}}. */
{{/simpleDoc}}{{#descriptionDoc}}/**
 * Route {{className}}.
 * Datasource type: standard.
 */
{{/descriptionDoc}}public interface {{interfaceName}} { }

{{#simpleDoc}}/** Route {{className}}. */
{{/simpleDoc}}{{#descriptionDoc}}/**
 * Route {{className}}.
 * Datasource type: standard.
 */
{{/descriptionDoc}}public class {{className}} : {{interfaceName}} { }
