// schema-version: {{schemaVersion}}
using FluentValidation;
using Backend.Types.View;
using Backend.Types.Datasource;
using Backend.Validators.Datasource;

namespace Backend.Validators.View;

public class {{validatorClass}} : AbstractValidator<Backend.Types.View.{{className}}>
{
    public {{validatorClass}}()
    {
{{#rules}}
{{&line}}
{{/rules}}
    }
}
