// schema-version: {{schemaVersion}}
using Deterministic.Types;

namespace Backend.Types.Datasource;

{{#simpleDoc}}/** Type {{className}}. */
{{/simpleDoc}}{{#descriptionDoc}}/**
 * Type {{className}}.
 * Datasource type: {{datasourceType}}.
 * Fields: {{fieldCount}}.
 */
{{/descriptionDoc}}public class {{className}} : StandardDataSource<{{idType}}, {{datetimeType}}>
{
{{#fields}}
    public {{csType}} {{ident}} { get; set; }
{{/fields}}
}
